<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WildberriesParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="WildberriesParser.Resource.SQL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
	<connectionStrings>
	<add name="DBEntities" connectionString="metadata=res://*/Model.Data.DBModel.csdl|res://*/Model.Data.DBModel.ssdl|res://*/Model.Data.DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0AEC5RH\SQLEXPRESS;initial catalog=WBParser;user id=artem;password=19731982dd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	<userSettings>
		<WildberriesParser.Properties.Settings>
			<setting name="ConnectionString" serializeAs="String">
				<value />
			</setting>
			<setting name="server" serializeAs="String">
				<value />
			</setting>
			<setting name="login" serializeAs="String">
				<value />
			</setting>
			<setting name="password" serializeAs="String">
				<value />
			</setting>
			<setting name="database" serializeAs="String">
				<value />
			</setting>
			<setting name="rememberPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="rememberLogin" serializeAs="String">
				<value />
			</setting>
			<setting name="rememberMe" serializeAs="String">
				<value>False</value>
			</setting>
		</WildberriesParser.Properties.Settings>
	</userSettings>
</configuration>